* {
  margin: 0;
  padding: 0;
}

    
body { 
  font-family: Lora, monospace;
  background-image: url("images/foto_capa.jpg"); 
  background-size: cover; 
  color:#14213d;
  text-align: justify; 
} 

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  background-color: #264653;
  width: 100%;
  height: 80px;
  color: whitesmoke;
}

.header a {
  color: whitesmoke;
  text-decoration: none;
}

.hero_title h1 {
  text-align: center;
}
    
h3 {
  color: #022b3a;
}

#foto_tarcisio {
  display: flex;
  border-radius: 50px;
  padding: 2.5px;
  background-color: #264653;
}
       
.menu {
 display: flex;
 align-self: baseline;
}
    
.bio {
  display: flex;
  align-items: center;
  justify-content:center;
  background-color:rgb(219, 212, 212) ;
  border-radius: 50px;
  border-style: solid;
  border-color: whitesmoke;       
}

.bio h2 {
  padding: 1.5%;
}

.bio {
  padding: 2%;
}

.bio p {
  padding: 1.5%;
}

.link:hover { 
  color: royalblue;
  font-size: 21px;
}

.link:active {
  color:tomato;
  font-size: 21px;
}

.soft_skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 6%;
  background-color:rgb(219, 212, 212) ;
  border-radius: 50px;
  border-style: solid;
  border-color: whitesmoke;
}

.soft_skills ul li {
  display: flex;
  flex-direction: column;
  
}

.hard_skills {
  display: flex;
  justify-content: flex-start;
  background-color:rgba(219, 212, 212, 0.752);
  border-radius: 50px;
  border-style: solid;
  border-color: whitesmoke;
}

.final-part {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.projets {
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  align-items: center;
  border-style: solid;
  border-color: #264653;
}

.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 200px;
  padding: 1%;
  background-color:#264653;
  text-align: center;
  color: whitesmoke;
}

.contact li {
  list-style: none;
}
    
.contact h3 {
  color: whitesmoke;
}

.soft_skills ol li:nth-last-child(2n) {
  font-style: italic;
}

a {
  text-decoration: none;
  color: #14213d;
}

.social i {
 padding-right: 1%;
 padding-left: 1%;
}

.social a {
  color: whitesmoke;
}

.projets a {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 680px) {
  .bio {
    flex-wrap: nowrap;
    font-size: 10px;
  }

  .bio h2 {
    font-size: 13px;
    padding: 1.5%;
  }

  .bio article {
    padding: 3%;
  }

  #foto_tarcisio {
    width: 80px;
    border-radius: 10%;    
  }

  .header {
    font-size: 8px;
  }

  .soft_skills {
    font-size: 10px;    
  }

  .hard_skills {
    font-size: 10px;
    padding: 6%;
  }

  #projets {
    padding: 0.5%;
    font-size: 10px;
  }

 .contact {
   font-size: 8px;
 }
}

@media screen and (min-width: 680px) {
  body {
    font-size: 16px;
  }

  .header {
    height: 80px;
  }

  .menu {
    flex-basis: 30px;
  }

  .bio h2 {
    font-size: 25px;
  }

  .hard_skills {
    padding: 2%;
  }

  .final-part {
    padding: 1.5%;
  }

  .contact {
    font-size: 18px;
  }
}