* {
  margin: 0;
  padding: 0;
}

    
body { 
  font-family: Lora, monospace; 
  font-size: 16px;
  background-image: url("images/foto_capa.jpg"); 
  background-size: cover; 
  color:#14213d;
  text-align: justify; 
} 

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  background-color: #264653;
  width: 100%;
  height: 80px;
  color: whitesmoke;
}

.header a {
  color: whitesmoke;
  text-decoration: none;
}

.hero_title h1 {
  text-align: center;
}
    
h3 {
  color: #022b3a;
}

#foto_tarcisio {
  display: flex;
  border-radius: 50px;
  padding: 2.5px;
  background-color: #264653;
}
       
.menu {
 display: flex;
 align-self: baseline;
 flex-basis: 30px;
}
    
.bio {
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 2%;
  font-size: 20px;
  background-color:rgb(219, 212, 212) ;
  border-radius: 50px;
  border-style: solid;
  border-color: whitesmoke;       
}

.bio p {
  padding: 1.5%;
}

.bio h2 {
  font-size: 25px;
  padding: 1.5%;
}

.link:hover { 
  color: royalblue;
  font-size: 25px;
}

.link:active {
  color:tomato;
  text-transform: uppercase;
}

.soft_skills {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 20px;
  padding: 4%;
  background-color:rgb(219, 212, 212) ;
  border-radius: 50px;
  border-style: solid;
  border-color: whitesmoke;
}

.soft_skills ul li {
  display: flex;
  flex-direction: column;
  
}

.hard_skills {
  display: flex;
  font-size: 20px;
  background-color:rgba(219, 212, 212, 0.752) ;
  border-radius: 50px;
  border-style: solid;
  border-color: whitesmoke;
}

.contact {
  display: flex;
  font-size: 20px;
  background-color:rgba(219, 212, 212, 0.752) ;
  border-radius: 50px;
  border-style: solid;
  border-color: royalblue;
  text-align: center;
}
    
.soft_skills ol li:nth-last-child(2n) {
  font-style: italic;
}
