.selected {
  background-color: grey;
}

.completed {
  text-decoration: line-through;
}

#texto-tarefa {
  width: 550px;
  display: flex;
  font-size: 25px;
  margin: 0 auto;
}

#browser {
  text-align: center;
  margin: 0 auto;
}

body {
  background-image: url('pexels-tirachard-kumtanom-733857.jpg');
}

#title {
  font-family: 'New Tegomin', serif;
  text-align: center;
  margin-left: 10%;
  font-size: 70px;
  color: coral;
}

#funcionamento {
  font-family: 'New Tegomin', serif;
  margin-left: 25%;
  margin-right: 10%;
  font-size: 30px;
}

#main {
  display: inline-block;
  margin-left: 36%;
  margin-top: -7%;
  margin: 0 auto;
}

ol li {
  font-family: 'New Tegomin', serif;
  margin: 0 auto;
  font-size: 25px;
  
}

ol {
  background-color: whitesmoke;
  margin-right: 0.5%;
  border-style: solid;
  border-color: coral;
}

button {
  font-size: 15px;
  padding: 0.2%;
  margin: 0.5%;
}

button:hover {
  font-size: 16px;
}

button:active {
  padding: 0.25%;
  font-size: 17px;
  color: coral;
}

ol li:hover {
  font-size: 26px;
}

footer {
  margin-top: 23%;
  text-align: center;
}

footer:active {
  font-size: 17px;
}

#news {
  margin-left: auto;
  margin-right: 8%;
  background-color: rgba(255, 127, 80, 0.586);
  border-style:solid;
  border-color: black;
  font-family: 'New Tegomin', serif;
  font-weight: bold;
  text-align: center;
}

.news {
  text-decoration: none;
  color:darkblue;
}

.news:hover {
  font-size: 15px;
}

.news:active {
  font-size: 16px;
  color: darkgreen;
}

#browser {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  margin-left: 4%;
}

#general-buttons {
  margin-left: 4%;
}

@media screen and (max-width: 680px) {
  #title {
    font-size: 50px;
    margin: auto;
  }

  #funcionamento {
    font-size: 25px;
    text-align: center;
  }

  #news {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 30px;
    margin-left: 5%;
    margin-right: 2%;
  }

  #texto-tarefa {
    width: 90%;
    margin-left: 5%;
  }

  #lista-tarefas {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 20px;
    text-align: justify;
  }
  
  #main {
    margin: auto;
  }
 
  #browser, #general-buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 3%;
    justify-content: center;
  }

  button {
    margin: 2%;
  }
}