.selected {
  background-color: grey;
}

.completed {
  text-decoration: line-through;
}

#texto-tarefa {
  width: 550px;
  font-size: 25px;
  margin: 0 auto;
}

#browser {
  text-align: center;
  margin: 0 auto;
}

body {
  background-image: url('pexels-tirachard-kumtanom-733857.jpg');
}

#title {
  font-family: 'New Tegomin', serif;
  text-align: center;
  margin-left: 10%;
  font-size: 70px;
  color: coral;
}

#funcionamento {
  font-family: 'New Tegomin', serif;
  margin-left: 25%;
  margin-right: 10%;
  font-size: 30px;
}

#main {
  display: inline-block;
  margin-left: 36%;
  margin-top: -7%;
  margin: 0 auto;
}

ol li {
  font-family: 'New Tegomin', serif;
  margin: 0 auto;
  font-size: 25px;
}

ol {
  background-color: whitesmoke;
  margin-right: 0.5%;
  border-style: solid;
  border-color: coral;
}

button {
  font-size: 15px;
  padding: 0.2%;
  margin: 0.5%;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  font-size: 16px;
}

button:active {
  padding: 0.25%;
  font-size: 17px;
  color: coral;
}

ol li:hover {
  font-size: 26px;
}

footer {
  margin-top: 23%;
  text-align: center;
}

footer:active {
  font-size: 17px;
}

#news {
  margin-left: auto;
  margin-right: 8%;
  display: inline-block;
  background-color: rgba(255, 127, 80, 0.586);
  border-style:solid;
  border-color: black;
  font-family: 'New Tegomin', serif;
  font-weight: bold;
  text-align: center;
}

.news {
  text-decoration: none;
  color:darkblue;
}

.news:hover {
  font-size: 15px;
}

.news:active {
  font-size: 16px;
  color: darkgreen;
}
